# HTTP server to redirect traffic to HTTPS
server {
    if ($host = oliver.knox.gb.net) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name oliver.knox.gb.net;
}

# HTTPS server
server {
    listen 443 ssl;
    server_name oliver.knox.gb.net;

    location / {
        proxy_pass http://localhost:8081;
    }

    ssl_certificate /etc/letsencrypt/live/oliver.knox.gb.net/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/oliver.knox.gb.net/privkey.pem; # managed by Certbot
}